.todo-item {
    animation: myAnim 1.1s ease 0s 1 normal forwards;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 320px;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

.todo-content {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: large;
    margin: 0 10px;
}

.spacer {
    flex: 1 1 auto;
}

.content-input {
    font-family: "Nunito", sans-serif;
    font-size: large;
    text-decoration: black;
    border-style: none;
    border-radius: 3px;
    /*font-weight: bold;*/
    height: 20px;
    width: 239px;
    box-shadow: var(--shadow);
}

.delete-todo-item-btn {
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.2rem;
    border-style: none;
    background: var(--accent-color);
    box-shadow: var(--shadow);
    color: var(--primary-color);
    transition: background 310ms;
}

.delete-todo-item-btn:hover {
    background: var(--button-accent-hover);
}

.delete-todo-item-btn:active {
    background: var(--button-accent-active);
}

.strike-through {
    text-decoration: line-through;
}

input[type=checkbox] {
    zoom: 1.7;
}